@model BlockViewModel<ServiceBlock>
<div class="services__item">
    <i class="fa fa-@Model.CurrentBlock.IconClass"></i>
    <h6>@Model.CurrentBlock.ServiceName</h6>
    <p>@Model.CurrentBlock.Descripttion</p>
</div>
