<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="EPiServerDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EPiServerDB_9aca39d5.mdf;Initial Catalog=EPiServerDB_9aca39d5;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>