<connectionStrings>
  <!--<clear /> for Azure -->
  <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EPiServerDB_9aca39d5.mdf;Initial Catalog=EPiServerDB_9aca39d5;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EcfSqlConnection_6d8ae0fb.mdf;Initial Catalog=EcfSqlConnection_6d8ae0fb;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureBlobs" connectionString="AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;" />
  <!--<add name="EPiServerAzureEvents" connectionString="Endpoint=sb://myservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=abcdefghijklmnoabcdefghijklmnoabcdefghijklmno=" />-->
   <!--<add name="EPiServerDB" connectionString="Server=localhost;Database=EPiServerDB_9aca39d5;Trusted_Connection=True;User ID=sa;Password=123456789x@X;Connection Timeout=60;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Server=localhost;Database=EcfSqlConnection_6d8ae0fb;Trusted_Connection=True;User ID=sa;Password=123456789x@X;Connection Timeout=60;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
</connectionStrings>
