<episerver.framework>
	<appData basePath="App_Data" />
	<scanAssembly forceBinFolderScan="true" />
	<virtualRoles addClaims="true">
		<providers>
			<add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
			<add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
			<add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
			<add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
			<add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
			<add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebEditors" mode="Any" />
			<add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
			<!--<add name="EPiBetaUsers" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />-->
			<add name="EPiBetaUsers" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="Administrators" mode="Any" />
		</providers>
	</virtualRoles>
	<virtualPathProviders>
		<clear />
		<add name="ProtectedModules" virtualPath="~/EPiServer/" physicalPath="Modules\_Protected" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
	</virtualPathProviders>
	<localization fallbackBehavior="MissingMessage, Echo" fallbackCulture="en">
		<providers>
			<add virtualPath="~/Resources/LanguageFiles" name="languageFiles" type="EPiServer.Framework.Localization.XmlResources.FileXmlLocalizationProvider, EPiServer.Framework.AspNet" />
		</providers>
	</localization>
</episerver.framework>