<episerver>
	
	<applicationSettings httpCacheExpiration="01:00:00" httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" uiUrl="~/EPiServer/CMS/" urlRebaseKind="ToRootRelative" />
	
	<!--/// When URLs donot contain language code, we can cache content by language in request (from browser)-->
	<!--<applicationSettings 
		httpCacheVaryByCustom="CountryCodeHash" httpCacheExpiration="01:00:00"
		httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" uiUrl="~/EPiServer/CMS/" urlRebaseKind="ToRootRelative" />-->
	
	<!--<applicationSettings httpCacheability="Public"
                       httpCacheVaryByCustom="CountryCodeHash"
                       httpCacheExpiration="01:00:00"
                       pageValidateTemplate="false"
                       uiShowGlobalizationUserInterface="true"
                       urlRebaseKind="ToRootRelative"
                       uiUrl="~/epiui/edit/CMS/"
                       utilUrl="~/util/"
                       uiEditorCssPaths="~/static/tinymce/css/editor.css" />-->
</episerver>