@model  eShop.web.Models.Blocks.CategoryBannerBlock

<div class="categories__item categories__large__item set-bg" data-setbg="@Model.Url">
    <div class="categories__text">
        <h4>@Model.Title</h4>
        <p>@Model.Description</p>
        <a href="@Model.Link">Shop now</a>
    </div>
</div>