@model SpecialOfferViewModel

<div class="trend__content">
    <div class="section-title">
        <h4>@Model.CurrentBlock.Title</h4>
    </div>
    @foreach (var item in Model.ProductContentViewModels)
    {
        <div class="trend__item">
            <div class="trend__item__pic">
                <img src="/Static/img/special-offer.png" style="width: 64px;" alt="">
            </div>
            <div class="trend__item__text">
                <h6>@item.ProductName</h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product__price">@item.MinPrice.CurrenyFormat()</div>
            </div>
        </div>
    }
</div>